/* Reset dasar */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

p {
  margin: 0;
}

/* Bagian Tengah */
main {
  padding: 10px 50px;
}

.checkout-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 60px;
}

/* =============== user detail ============ */

.left-container {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  background-color: white;
  width: 880px;
  max-width: 100%;
  gap: 20px;
  border-radius: 10px;
}

.label {
  font-weight: bold;
  font-size: 15px;
  color: gray;
}

/* =================== address container ======================*/

.address-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  overflow-x: visible;
  padding-bottom: 10px;
  justify-content: flex-start;
}

.address-card,
.payment-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15px;
  width: 235px;
  height: 130px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.address-card {
  width: 230px;
}

.address-card h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.address-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* jumlah baris maksimum */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
  font-size: 13px;
}

.mobile-no {
  margin-top: 10px;
}

.add-address-card,
.payment-card-add {
  display: flex;
  padding: 0;
  width: 240px;
  height: 130px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  color: gray;
  background-color: rgba(236, 235, 235, 0.349);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.add-address-card {
  width: 262px;
}

/* =================== Add Address Form ==================== */
.add-address-form {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-address-form h3 {
  margin-bottom: 10px;
}

.add-address-form input,
.add-address-form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
}

.add-address-form textarea {
  resize: vertical;
  min-height: 60px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveAddress {
  background-color: rgb(0, 180, 120);
  color: white;
}

#cancelAdd {
  background-color: #ccc;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-address-text {
  font-size: 13px;
  color: #007bff;
  cursor: pointer;
  transition: color 0.2s;
  margin-bottom: 10px;
}

.edit-address-text:hover {
  color: #0056b3;
}

/*========================= item container ============================ */

.item-container {
  margin-top: 20px;
}

.item-detail-card {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 98%;
  max-width: 100%;
  height: 130px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  align-items: center;
  flex-wrap: wrap;
  border: 0.1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.item-detail-image {
  width: 200px;
  height: 100%;
  margin-left: 20px;
}

.item-detail-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.item-detail-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.item-detail-desc h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

.item-detail-desc p {
  color: gray;
  margin-top: 0px;
  margin-bottom: 13px;
  font-size: 13px;
}

.price {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  color: black;
}

.from-price {
  text-decoration: line-through;
  color: red;
  margin-right: 10px;
  font-size: 13px;
}

.discount {
  color: rgb(0, 180, 120);
  font-size: 13px;
}

.delivery-charges {
  font-size: 13px;
}

.item-detail-desc .total-text {
  margin-top: 10px !important;
}

/* ============== payment method ============*/

.payment-layout {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.payment-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: flex-start; /* biar sejajar kiri */
}

.payment-card {
  width: 240px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  padding-left: 20px;
}

.payment-card-image img {
  width: 60px;
  height: auto;
  object-fit: contain;
}

.payment-card-desc {
  margin-top: 10px;
}

.payment-card h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

.payment-card p {
  margin: 0;
  color: gray;
  font-size: 13px;
}

/* ==================== price detail ================== */

.price-detail {
  padding: 20px 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 360px;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
}

.price-detail h3 {
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  font-size: 16px;
}

.price-detail table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.price-detail td {
  padding: 8px 0;
}

.discount-row td {
  padding-bottom: 15px;
}

.price-detail .title {
  color: gray;
  font-size: 13px;
}

.price-detail-total {
  border-top: 2px solid #eee;
  padding-top: 30px;
}

.price-detail .price {
  text-align: right;
  font-size: 16px;
}

.price-detail-total td {
  padding-top: 18px;
  font-size: 18px;
}

.price-detail-total p {
  font-size: 18px;
}

.discount-price {
  text-align: right;
  font-size: 13px;
  color: red;
}

.price-detail .delivery-charges {
  text-align: right;
  color: rgb(0, 180, 120);
}

/* ======================= payment button ============= */

.payment-button-container {
  width: 365px;
  max-width: 100%;
  height: 55px;
}

.payment-button-container button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(0, 180, 120);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-size: 16px;
}

.payment-button-container button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.payment-button-container button:active {
  cursor: pointer;
  opacity: 0.7;
}

/* ======================= active ==================== */

.address-card.selected,
.payment-card.selected {
  border: 3px solid rgb(0, 180, 120);
}

/* ======================= footer ===================== */
footer {
  background-color: #122c4f;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

/* =============== RESPONSIVE ================= */
@media (max-width: 900px) {
  .item-detail-card {
    flex-direction: column;
    height: auto;
  }

  .item-detail-image {
    width: 50%;
  }
}
